In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/claims_data.csv")

In [5]:
df.head()

,Claim_ID,Provider_ID,Procedure_Code,Procedure_Description,Submitted_Charge,Payment_Amount,Patient_Age,Patient_Gender
0,101,P001,99213,Office Visit,150.0,100.0,65,F
1,102,P002,99214,Extended Visit,200.0,150.0,72,M
2,103,P001,99213,Office Visit,150.0,100.0,58,M
3,104,P003,93000,EKG,100.0,90.0,80,F
4,105,P002,99214,Extended Visit,210.0,155.0,69,F

In [6]:
df.isnull().sum()

Claim_ID                 0
Provider_ID              0
Procedure_Code           0
Procedure_Description    0
Submitted_Charge         0
Payment_Amount           0
Patient_Age              0
Patient_Gender           0
dtype: int64

In [8]:
import pandas as pd
df = pd.read_csv("../data/claims_data.csv")

In [9]:
df.isnull().sum()

Claim_ID                 0
Provider_ID              0
Procedure_Code           0
Procedure_Description    0
Submitted_Charge         0
Payment_Amount           0
Patient_Age              0
Patient_Gender           0
dtype: int64

In [10]:
df.dtypes

Claim_ID                   int64
Provider_ID               object
Procedure_Code             int64
Procedure_Description     object
Submitted_Charge         float64
Payment_Amount           float64
Patient_Age                int64
Patient_Gender            object
dtype: object

In [11]:
df.describe()

,Claim_ID,Procedure_Code,Submitted_Charge,Payment_Amount,Patient_Age
count,5.000000,5.000000,5.000000,5.000000,5.000000
mean,103.000000,97970.800000,162.000000,119.000000,68.800000
std,1.581139,2778.761721,44.384682,30.903074,8.167007
min,101.000000,93000.000000,100.000000,90.000000,58.000000
25%,102.000000,99213.000000,150.000000,100.000000,65.000000
50%,103.000000,99213.000000,150.000000,100.000000,69.000000
75%,104.000000,99214.000000,200.000000,150.000000,72.000000
max,105.000000,99214.000000,210.000000,155.000000,80.000000

In [12]:
df['Procedure_Description'].value_counts()

Office Visit      2
Extended Visit    2
EKG               1
Name: Procedure_Description, dtype: int64

In [13]:
df.groupby("Procedure_Description")["Submitted_Charge"].mean()

Procedure_Description
EKG               100.0
Extended Visit    205.0
Office Visit      150.0
Name: Submitted_Charge, dtype: float64

In [14]:
df.groupby("Provider_ID")["Payment_Amount"].mean()

Provider_ID
P001    100.0
P002    152.5
P003     90.0
Name: Payment_Amount, dtype: float64